<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center" style="color:#5779f2"><i class="fal fa-microchip fa-4x"></i></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Uso de CPU</h6>
                        <h2 class="m-t-0">{{ cpuUsage }}%</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center" style="color:#5779f2"><i class="fal fa-memory fa-4x"></i></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Uso de RAM</h6>
                        <h2 class="m-t-0">{{ ramUsage }}%</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center" style="color:#5779f2"><i class="fal fa-hdd fa-4x"></i></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Uso de Disco</h6>
                        <h2 class="m-t-0">{{ diskUsage }}%</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center" style="color:#5779f2"><i class="fal fa-network-wired fa-4x"></i></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Uso de Red</h6>
                            <div class="col-12 m-t-2">
                                <h5 class="m-0"><b>In:</b> {{ inNet }}</h5>
                                <h5 class="m-0"><b>Out</b> {{ outNet }}</h5>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>