<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <!-- You can find this in the dashboard-component -->
       <!-- <app-configurador-panel2></app-configurador-panel2> -->
    </div>
</div>
<!-- ============================================================== -->
<!-- chart and stats -->
<!-- ============================================================== -->
<div class="row">
    <!-- chart component -->
    <div class="col-lg-9 col-md-12">
        <app-monthly-income></app-monthly-income>
    </div>
    <!-- other chart component -->
    <div class="col-lg-3 col-md-12">
        <app-visit-separation></app-visit-separation>
    </div>
</div>