body {
    background-image: url('../../../assets/images/background/login-register.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100vh;  /* responsive height */
}